.actions-column {
  width: 180px;
}

.id-column {
  width: 40px;
}

.res-table {
  height: 50%;
  overflow-y: auto;
}

.action-btn {
  margin-left: 20px !important;
}

.iframe-chart {
  border: 2px solid rgba(156,220,254,0.21);
}
