@import "./sass/_variables";
@import "./sass/_logsPage";
@import "./sass/_tasksPage";
@import "./sass/_resultPage";

$bg-color: white;

body {
  background: $bg-color;
  .jumbotron {
    padding: 4rem 8rem;
  }
}

.page {
  padding: 4rem 8rem;
}

nav {
  background: $main-blue-color !important;
}
